*{
	font-size: large;
	font-family: verdana, sans-serif;
	
	padding: 0;
	margin: 0;
}

.main-header{
	
	height: 5vh;
	width: 100%;
	
	background-color: #FFFFFF;
	color: #000000;
	
	position: fixed;
	
	line-height: 5vh;
	
}

#home{
	
	float: left;
	
	text-align: left;
	
	height: 100%;
	width: 10%;
	
}

#home a{
	
	float: left;
	
	height: 100%;
	width: 100%;
	
	text-decoration: none;
	color: #000000;
	
}

#home a:focus{
	background-color: #EEEEEE;
}
#home a:hover{
	background-color: #EEEEEE;
}

.navbar{

	float: right;
	height: 100%;
	
	width: 70%;

}

.navbar-element{
	
	height: 100%;
	
	width: 20%;
	
	text-align: center;
	float: left;
	
	text-decoration: none;
	color: #000000;
	
}

.navbar-element:focus{
	background-color: #EEEEEE;
}
.navbar-element:hover{
	background-color: #EEEEEE;
}

main{
	
	top: 5vh;
	height: 95vh;
	
	width: 100%;
	
	overflow: scroll;
	
	position: fixed;
	
	background-image: url("../bilder/tomat.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	
}

#lander{
	
	height: 100%;
	
}

#inner-lander{
	
	
	
}

#problem{
	
	height: 100%;
    background-color: #f2f2f2;
	
	display: flex;
	justify-content: center;
	
}

#inner-problem{
	
	background: #FFFFFF;
	
	width: 60%;
	align-self: center;
	
}

#inner-problem h1{

	text-align: center;

}